@font-face {
  font-family: "jf";
  src: url("./fonts/jf.ttf");
}
*{
    border: solid 1px #182740;

    position: relative;
    font-family: "jf";
  }
  html,body{
    width: 100%; height: 100%;
    padding: 0px; margin: 0px;
  }
  body{
    display: flex;
    background-color: #D3B884;
    border-top: solid 20px #182740;
    border-bottom: solid 20px #182740;
    
    box-sizing: border-box;
    overflow: hidden;
  }
  .mainWebsite{
    position: absolute;
    border: none;
    margin: 20px 30px;
    padding: 20px;
    color: #111;
    text-decoration: none;
  }
  .mainWebsite i {
    border: none;
    margin-right: 10px;
  }
  
  .name{
    font-size: 30px;
    font-weight: 200px;
   /* border-bottom-color:#00FF00;
    */
    border-bottom: solid 1px ;
    
  }
  
  .experWord{
    position: absolute; 
    width: 225px;  
    border-bottom: solid 1px ;
  }
  
  .compWord{
    position: absolute; 
    width: 225px; 
    top: 20px;
    border-bottom: solid 1px ;
  }
  
  .background{
    
    width: 900px;
    height: 500px;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
    background-color: #182740;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);;
  }
  .background-left{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    color: #D3B884;
  }
  .background-right{
    position: absolute;
    margin-left: 300px;
    
    color: #D3B884;
  }
  
  .setIcon{
    display: inline-block;
    text-align: center;
    width: 30px ; height: 30px;
    background-color:  #D3B884;
    color: #182740; 
    line-height: 30px;
    font-size: 20px;
  }
  .percent{
    border-radius: 5px;
    border: solid 2px #D3B884;
    text-align: right;
    width: 500px; height: 20px;
    bottom: 27px; left: 45px;
  }
  
  .bar{
    position: absolute;
    left: 47px; top: 75px;
    height: 14px;
    border-radius: 5px;
    background-color: #D3B884;
  }
  .AI{
    width: 75%; 
  }
  .AE{
    top: 130px;
    width: 50%;
  }
  
  .PS{
    top: 186px;
    width: 20%;
  }
  
  .havSet{
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
  }
  
  .havor:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
  }
  
  .circle{
    position: absolute;
    width: 100px; height: 100px;
    top: 80px;
    background-color: #D3B884;
    border-radius: 100px;
    overflow: hidden;
    border: solid 1px #D3B884;
    
  }
  
  .cir1 {
    margin-left: 10px;
  }
  
  .cir2{
    margin-left: 150px;
  }
  
  .cir3{
     margin-left: 290px;
  }
  
  .cir4{
     margin-left: 430px;
  }
  
  .cirInner{
    border-color: #D3B884;
    position: absolute;
    width: 85px; height: 85px;
    top: 7px;
    background-color: #182740;
    border-radius: 100px;
    margin-left: 7px;
  }
  
  .works{
    position: absolute;
    top: 400px;
  }
  
  .hiden{
    position: absolute;
    background-color: #182740;
    width: 50px; height: 50px;
    top: -5px;
  }
  
  .hid1{
    margin-left: 55px;
    height: 110px;
  }
  
  .hid2{
    height: 50px;
    top: 60px;
  }
  
  .hid2-1{
    margin-left: 50px;
    height: 110px;
  }
  
  .hid3{
    margin-left: 50px;
    height: 70px;
  }
  
  .hid4{
    margin-left: 50px;
    height: 120px;
  }
  
  .perWord{
    margin-left: 35px;
    top: 35px;
  }
  
  .word{
    margin-left: 22px;
    top: 30px;
    font-size: 12px;
  }
  
  .w3{
    margin-left: 38px;
  }
  
  .w4{
    margin-left: 30px;
  }
  
  .btn{
    position: absolute;
    width: 80px; height:30px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #D3B884;
    color: #182740;
    text-decoration:none;
    letter-spacing: 2px;
    
    box-shadow:0.05px 0.05px 2px 6px #D3B884;
    
    
  }
  /* .btnclickme{

  } */
  
  .b1{
    margin-left: 10px;
    margin-top: 35px;
  }
  
  .b2{
    margin-left: 130px;
    margin-top: 11px;
    
  }